body {
    background: black;
    color: white;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: sans-serif;
}
.linha {
    height: 6px;
    background-color: white;
    width: 1500px;
    margin: 8px;
}
#imagem {
    width: 600px;
    height: 600px;
}